@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gistesy";
    src: url("../assets/gistesy/Gistesy.ttf");
}

.full-bleed {
    box-shadow: 0 0 0 100vmax #1c2120;
    clip-path: inset(0 -100vmax);
}